@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      @apply bg-gradient-to-l from-gray-950 via-gray-800 to-gray-950;
  }
}

.child-container {
  border-radius: calc(3.5rem - 1px);
}


.noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  
  opacity: 0.04;  
  z-index: 1000;
  pointer-events: none;
  background: url(/noise.gif) ;
}

.custom-markdown-content h2 {
  @apply text-2xl font-bold text-white;
}


.custom-markdown-content h3 {
  @apply text-xl font-bold text-white;
}
.custom-markdown-content p {
  @apply leading-8 text-lg text-left pt-2 text-slate-300;
}

.custom-markdown-content ul, .custom-markdown-content ol {
  @apply list-inside pl-4;
}

.custom-markdown-content blockquote {
  @apply border-l-4 border-slate-300 pl-4 italic text-slate-500;
}